@page "/"
@using BlazorPurchaseOrders.Data




<div class="col-sm-12">
    <h3>Purchase Orders</h3>
    <br />
    <SfGrid DataSource="@poheader"
            Toolbar="Toolbaritems">
        <GridEvents RowSelected="RowSelectHandler" OnToolbarClick="ToolbarClickHandler" TValue="POHeader"></GridEvents>
        <GridColumns>
            <GridColumn Field="@nameof(POHeader.POHeaderOrderNumber)"
                        HeaderText="Order No"
                        TextAlign="@TextAlign.Left"
                        Width="10">
            </GridColumn>
            <GridColumn Field="@nameof(POHeader.POHeaderOrderDate)"
                        HeaderText="Date"
                        Format="d"
                        Type="ColumnType.Date"
                        TextAlign="@TextAlign.Center"
                        Width="15">
            </GridColumn>
            
            <GridColumn Field="@nameof(POHeader.SupplierName)" HeaderText="Supplier" TextAlign="@TextAlign.Left"
            Width="40">
            </GridColumn>

            <GridColumn Field="@nameof(POHeader.TotalOrderValue)" HeaderText="Total" TextAlign="@TextAlign.Right" Format="C2" Width="20">

            </GridColumn>
    
            <GridColumn Field="@nameof(POHeader.POHeaderRequestedBy)" HeaderText="Requested by" TextAlign="@TextAlign.Left" Width="40"></GridColumn>


        </GridColumns>
    </SfGrid>

</div>

@* Warning Component *@
<WarningPage @ref="Warning" WarningHeaderMessage="@WarningHeaderMessage" WarningContentMessage="@WarningContentMessage" />





